$footer-height: 100px;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: $footer-height;
}

h1,h2,h3,h4,h5,h6,
.heading {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.cths-header-title {
    font-size: 2.5vw;
}

@media (max-width: 768px) {
    .cths-header-title {
        font-size: 1.2rem;
    }
}

.field.main-field {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.navbar a {
    color: $text-grey;

    &:hover {
        color: $text-black;
    }
}

.nav-item {
    border-radius: 5px;
}

.nav-item:hover {
    background: $dark-blue;
}

.nav-item a:hover {
    color: #fff;
}

input[type="submit"] {
    cursor: pointer;
}

#ForgotPassword {
    margin: 10px 20px;
}
