
.cths-featured-image, .cths-featured-image img {
    border-radius: 1rem;
}

@mixin coloured-panel($bgcolour, $textcolour: $text-black) {
    background-color: $bgcolour;
    color: $textcolour;
}

.cths-light-blue {
    @include coloured-panel($light-blue);
}
.cths-featured-article,
.cths-highlight-row {
    @include coloured-panel($dark-blue, $white);
    position: relative;

    a {
        color: #fff;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        a {
            text-decoration: underline;

            &:hover, &:focus {
                text-decoration: none;
                border-bottom: 1px #333 solid;
            }
        }
    }
}

.cths-featured-article:before {
    content: 'Featured';
    font-size: .8rem;
    color: #cce0ef;
    color: lighten($dark-blue, 50%);
    position: absolute;
    top: 10px;
    right: 20px;
    font-style: italic;
}
.cths-orange {
    @include coloured-panel($orange);
}
.cths-green {
    @include coloured-panel($green);
}
.cths-featured-blog:before {
    content: 'Latest post';
}

.cths-button, a.cths-button {
    padding: .3rem 1rem;
    display: inline-block;
    border-radius: .5rem;
    margin-top: 1rem;
    background-color: $white;
    color: $text-black;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);

    &:hover, &:focus {
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.8);
        text-decoration: underline;
    }

    &:active {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset;
    }
}

.cths-with-button .cths-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.cths-box {
    border-radius: 1rem;
    padding: 1.5rem;
    color: $text-black;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    a {
        color: $text-black;
        text-decoration: underline;

        &:hover, &:focus {
            text-decoration: none;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        a {
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    .cths-button, a.cths-button {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.cths-with-button {
    position: relative;
    padding-bottom: 5rem;
}

.main-field label {
    font-size: 1.2rem;
    margin-left: 0.25rem;
}
.main-field input, textarea {
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 0.2rem 1rem;
    width: 100%;
}
